body{
    margin: 0;
    padding: 0;
}
.cabFrstBlck{
    position: fixed;
}
.cabScndBlck{
    position: fixed;
    margin-top: 130px;
}
#cabCross{
    margin-left: 300px;
}
#cabMenuBlck {
    width: 65%;
    margin: auto;
    text-align: center;
}
#cabMenuItemTxt{
    margin-top: 15px;
}
#cabHeader{
    padding-top: 30px;
}
#cabMenuLine{
    display: block;
    margin: auto;
}
.cabTrdBlck{
    position: absolute;    
    width: 100%;
    padding-left: 30px;
    overflow: hidden;
    margin-top: 190px;
}
.questionTemplate{
    width: 85%;
    height: 200px;
    background: linear-gradient(250.35deg, rgba(255, 153, 28, 0.7) -3.89%, rgba(255, 237, 215, 0.7) 99.71%);
    border: 2px solid #FFF3E3;
    border-radius: 15px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    margin-bottom: 25px;

}
.questionTemplateFrstBlck{
    display: flex;
    justify-content: space-between;
}
.questionData{
    font-size: 13px;
    color: #C09E77;
    margin-top: 10px;
    margin-left: 10px;
}
.questionDeleteBtn{
    font-size: 33px;
    color: #CA5E06;
    margin-top: -10px;
    margin-right: 10px;
}
.questionTemplateSecndBlck{
    display: flex;
    justify-content: center;
}
.questionText{
    color: #703E0B;
}
.questionTemplateThrdBlck{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    width: 80%;
    margin: auto;
}
.questionYes{
    font-size: 25px;
    color: #4FAB73;
}
.questionNo{
    font-size: 25px;
    color: #C63535;
}
.questionAnswersP{
    margin-top: 30px;
    color: #CA5E06;
}