#fixed-block-cabinet{
    position: fixed;
    width: 100%;
}
.containerNull{
    height: 900px;
}
#cabMenuBlck {
    width: 65%;
    margin: auto;
    text-align: center;
}
#cabMenuItemTxt{
    margin-top: 15px;
}
#cabHeader{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
#cabMenuLine{
    display: block;
    margin: auto;
}
.cabTrdBlck{  
    z-index: 1;
    overflow: hidden;
    padding-top: 190px;
    text-align: -webkit-center;
}
.questionTemplate{
    width: 80%;
    height: fit-content;
    background: linear-gradient(250.35deg, rgba(255, 153, 28, 0.7) -3.89%, rgba(255, 237, 215, 0.7) 99.71%);
    border: 2px solid #FFF3E3;
    border-radius: 15px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    margin-bottom: 25px;

}
.questionTemplateFrstBlck{
    display: flex;
    justify-content: space-between;
}
.questionData{
    font-size: 13px;
    color: #C09E77;
    margin-top: 10px;
    margin-left: 10px;
}
.questionDeleteBtn{
    font-size: 33px;
    color: #CA5E06;
    margin-top: -10px;
    margin-right: 10px;
}
.questionTemplateSecndBlck{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.questionText{
    color: #703E0B;
    overflow: hidden;
}
.questionTemplateThrdBlck{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    width: 80%;
    margin: auto;
}
.questionYes{
    font-size: 25px;
    color: #4FAB73;
}
.questionNo{
    font-size: 25px;
    color: #C63535;
}
.questionAnswersP{
    margin-top: 30px;
    color: #CA5E06;
}
.deleteQuestionBlck{
    display: none;
}
.deleteQuestionBlckBackBtnLight{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
.deleteQuestionBlckBackBtnDark{
    display: none;
}
.deleteQuestionBlckBody{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 16px;
    padding-left: 20px;
}
.deleteText{
    color: #703E0B;
    font-size: 18px;
}
.rubishIconLight{
    display: block;
}
.rubishIconDark{
    display: none;
}
.deleteQuestionBlckAct{
    width: 300px;
    height: 90px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #FFFFFF;
    box-shadow: -10px 40px 50px rgb(122 93 83 / 40%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-left: 28px;
    margin-top: 5px;
    display: block;
}
.questionID{
    display: none;
}