#backBtnProf{
    position: absolute;
    margin-left: 25px;
    margin-top: 35px;
}
#menuProfBlck {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
#profileText{
    font-size: 25px;
    color: #703E0B;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 30px;
}
.changeTextP{
    font-size: 23px;
    font-weight: 100;
    color: #703E0B;
}
#backGrBeeBlur{
    position: absolute;
}
#nameTxt{
    margin-top: 30px;
}
#logoProf{
    width: 85%;
    margin: auto;
    margin-left: -20px;
}
#secondBlckProf{
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.secondBlckProfCont{
    height: 60px;
}
.changeBlckProf{
    width: 65%;
    display: inline-block;
    margin-left: 25px;
}
.nameSpaceBlckProf{
    width: 25%;
    display: inline-block;
}
.penBtn{
    width: 18px;
    float: right;
}
.lineUnder{
    width: 100%;
}
#footerProf{
    margin-top: 30px;
}
.userDataP{
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    color: #CA5E06;
    width: 70%;
    overflow: hidden;
}
#passwordImg{
    width: 50%;
}
#logoLineBlock{
    display: grid;
    justify-items: center;
}
#logoBlockUnderline{
    margin-top: 15px;
}